[Unit]
Description="Holoscan Test Controls"

[Service]
Type=simple
WorkingDirectory=/opt/nvidia/holoscan-test-controls
ExecStart=/usr/bin/screen -D -m -S holoscan-test-controls /bin/sh run_controls.sh
ExecStop=/usr/bin/screen -X -S holoscan-test-controls
Restart=always
RestartSec=30sec

[Install]
WantedBy=multi-user.target

